<span style="background-color:#dcdcdc; margin-left:30px; font-size:25px;">商品一覧</span><br><br>

<%= link_to "商品追加", new_admin_item_path, class:"btn btn-info pull-right rounded-circle p-0" %>
<table class="table">
	<thead>
		<tr><th>商品ID</th><th>商品名</th><th>税抜価格</th><th>ジャンル</th><th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.price %></td>
				<td><%= item.genre.name %></td>
				<td><% if item.is_sold==true %>販売中<% else %>販売停止中<% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>