<span style="background-color:#dcdcdc; margin-left:30px; font-size:25px;">商品新規登録</span>

<%= form_for(@item, url:admin_items_path) do |f| %>
	<% if @item.errors.any? %>
	<h3><%= @item.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @item.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
	<% end %><br><br>

	<div class="row">
		<div class="col-sm-5">
			<%= attachment_image_tag(@item, :image, :fill, 100, 100, fallback: "no_image.jpg",size:'300x200') %><br><br>
			<%= f.attachment_field :image %>
		</div>
		<div class="col-sm-7">
			商品名　　　　　<%= f.text_field :name %><br><br>
			商品説明　　　　<%= f.text_area :description %><br><br>
			ジャンル　　　　<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %><br><br>
			税抜価格　　　　<%= f.text_field :price %>円<br><br>
			販売ステータス　<%= f.radio_button :is_sold, true %>販売中
 			<%= f.radio_button :is_sold, false %>販売停止中<br>
		</div>
	</div>
	<%= f.submit "新規登録", class:"btn btn-info pull-right mr-3" %>
<% end %>