<span style="background-color:#dcdcdc; margin-left:10px; font-size:25px;">ショッピングカート</span>
<div class="pull-right"><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,  class:"btn btn-danger", data: { confirm: 'カートを空にしますか？' }%></div>
<br><br>

<% @sum=0 %>
<% @sub_sum=0 %>

<table class="table table-bordered">
	<thead>
		<tr class="active">
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<% @cart_items.each do |cart_item| %>

	<tbody>
		<tr>
			<td>
				<%= attachment_image_tag cart_item.item, :image, :fill, 40, 40, fallback: "no_image.jpg", size: "50x50" %>
				<%= cart_item.item.name %>
			</td>
			<td style="vertical-align: middle;"><%= cart_item.item.price %></td>
			<%= form_for(cart_item, url:cart_item_path(cart_item) ,method: :patch) do |f| %>
			<td style="vertical-align: middle;"><%= f.select :amount,(1..50) %>　<%= f.submit "変更", class:"btn btn-info"%></td>
			<% end %>
			<td style="vertical-align: middle;"><%= cart_item.item.price*cart_item.amount %></td>
			<% @sum += cart_item.item.price*cart_item.amount %>

			<td style="vertical-align: middle;"><%= link_to "削除", cart_item_path(cart_item), method: :delete,  class:"btn btn-danger"%></td>
		</tr>
	</tbody>

	<% end %>
</table>
<%= link_to "買い物を続ける", root_path, class:"btn btn-info"%>
<div class="pull-right"><table class="table table-bordered"><td class="active">合計金額</td><td><%= @sum %>円</td></table></div>
<br><br><br>
<p class="text-center"><%= link_to "情報入力に進む",cart_items_path, class:"btn btn-success btn-lg "%></p>