<!DOCTYPE html>
<html>
<head>
  <title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-inverse" style="background-color:#e6e6fa;">
      <div class="container-fluid">
        <% if end_user_signed_in? %>
        <div class="navbar-brand" style="margin:20px 0px 10px 0px;">
          <div style="background-color:white; text-decoration: none; padding:15px 70px"><%= link_to 'LOGO', "/mypage" %></div>
        </div>
        <ul class="nav navbar-right navbar-nav" style="margin:20px 0px 10px 0px;">
          
          <li style="padding:0; margin:30px;" >
            <%= yield :title %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to 'マイページ', end_user_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to "商品一覧", items_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to 'カート', cart_items_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to " ログアウト", destroy_end_user_session_path, method: :delete%>
          </li>
        </ul>

          <% elsif admin_signed_in? %>
          <div class="navbar-brand" style="margin:20px 0px 10px 0px;"> 
            <div style="background-color:white; text-decoration: none; padding:15px 70px"><%= link_to 'LOGO', top_admin_path %></div>
          </div>
          <ul class="nav navbar-right navbar-nav" style="margin:20px 0px 10px 0px;">
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to '商品一覧',admin_items_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to "会員一覧", admin_end_users_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to '注文履歴一覧' %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to 'ジャンル一覧', admin_genres_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to " ログアウト", destroy_admin_session_path, method: :delete%>
          </li>
</ul>

          <% else %>
          <div class="navbar-brand" style="margin:20px 0px 10px 0px;">
          <div style="background-color:white; text-decoration: none; padding:15px 70px"><%= link_to 'LOGO', root_path %></div>
        </div>
          <ul class="nav navbar-right navbar-nav" style="margin:20px 0px 10px 0px;">
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to "商品一覧", items_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to '新規登録', new_end_user_registration_path %>
          </li>
          <li class="btn btn-default btn-sm" style="padding:0; margin:15px;" >
            <%= link_to " ログイン", new_end_user_session_path %>
          </li>
          </ul>
          <% end %>
              
     </div>
    </nav>
  </header>
  <div class="container">
  <%= flash[:error] %>
  <br><br>
  <%= yield %>
  </div>
</body>
</html>
